/* 
font-family: 'Amatic SC', cursive; <-for headline
font-family: 'Kristi', cursive;  <-for headline
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Livvic', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Oranienbaum', serif;
font-family: 'Marcellus SC', serif;
*/

.title {
  font-family: "Kristi", cursive;
  font-size: 70px;
}

.subTitle,
.instruction01,
.instruction02 {
  font-family: "Marcellus SC", serif;
  font-size: 20px;
}

.currentScore,
.topScore {
  font-family: "Marcellus SC", serif;
  font-size: 40px;
}
.pastabox {
  background-size: cover;
  background-position: 50%;
  height: 200px;
  width: 200px;
  margin: 5px 5px;
}

.container {
  display: grid;
  grid-template-columns: 45% 55%;
}

.left {
  min-height: 100vh;
  text-align: center;
  /* background-color: #dce6e6; use this */
  /* background-color: #eca912; */
  /* background: url(./images/circle02.png); */
  /* background-repeat: no-repeat; */
  /* background-size: 350px; */
  /* background-position: center bottom 20%; */
  /* vertical-align: middle; */
  align-items: center;
  background-image: linear-gradient(to top, #bfdad9 30%, #dce6e6 100%);
}

.right {
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  /* justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 30% 30% 30%; */
}

image {
  margin: auto;
}

.shake {
  -webkit-animation: shake 0.5s 0.0125s;
  animation: shake 0.5s 0.0125s;
}

@-webkit-keyframes shake {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
  }

  25%,
  50%,
  75% {
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
}

@keyframes shake {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
  }

  25%,
  50%,
  75% {
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
}

@media only screen and (max-width: 900px) {
  .right {
    display: flex;
    grid-template-rows: none;
    grid-template-columns: none;
  }

  .container {
    display: block;
    grid-template-columns: none;
    align-items: center;
    /* color: #fff; */
  }
  .left {
    min-height: 0;
  }
}

@media (min-width: 1100px) {
  .right {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .left {
    padding-bottom: 5%;
  }
  .pastabox {
    background-size: cover;
    background-position: 50%;
    height: 110px;
    width: 110px;
    /* margin: 5px 5px; */
  }
  .currentScore,
  .topScore {
    font-size: 25px;
  }
  .subTitle,
  .instruction01,
  .instruction02 {
    font-size: 16px;
  }
  .title {
    font-size: 50px;
  }
}
