.title {
  font-family: "Kristi", cursive;
  font-size: 70px;
  padding-top: 10%;
}

.subTitle,
.instruction01,
.instruction02 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
}

.currentScore,
.topScore {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
}
.pastabox {
  background-size: cover;
  background-position: 50%;
  height: 200px;
  width: 200px;
  margin: 5px 5px;
}

.container {
  display: grid;
  grid-template-columns: 45% 55%;
}

.left {
  min-height: 100vh;
  text-align: center;
  align-items: center;
  background-image: linear-gradient(to top, #bfdad9 30%, #dce6e6 100%);
}

.right {
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

image {
  margin: auto;
}

.shake {
  -webkit-animation: shake 0.5s 0.0125s;
  animation: shake 0.5s 0.0125s;
}

@-webkit-keyframes shake {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
  }

  25%,
  50%,
  75% {
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
}

@keyframes shake {
  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    -webkit-transform: translate(-10px);
    transform: translate(-10px);
  }

  25%,
  50%,
  75% {
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
}

@media (min-width: 1000px) {
  .right {
    width: 650px;
  }
}

@media only screen and (max-width: 1000px) {
  .right {
    display: flex;
    grid-template-rows: none;
    grid-template-columns: none;
  }

  .left {
    min-height: 100vh;
    padding-top: 0;
  }

  .pastabox {
    background-size: cover;
    background-position: 50%;
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    display: block;
    grid-template-columns: none;
    align-items: center;
  }
  .left {
    min-height: 0;
    padding-bottom: 5%;
  }
  .title {
    padding-top: 5%;
  }
  .right {
    width: 550px;
  }
}

@media only screen and (max-width: 600px) {
  .left {
    padding-bottom: 5%;
    min-height: 0;
  }
  .pastabox {
    background-size: cover;
    background-position: 50%;
    height: 110px;
    width: 110px;
  }
  .currentScore,
  .topScore {
    font-size: 20px;
  }
  .subTitle,
  .instruction01,
  .instruction02 {
    font-size: 16px;
  }
  .title {
    font-size: 50px;
    padding-top: 0;
  }
  .right {
    width: auto;
  }
}
